<section class="orders-show">

  <header class="page-header">
    <div>
      <h1>Order #<%= @order.id %></h1>
      <h4>Customer Email: <%=@order.email%></h4>
    </div>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Order</th>    
          <th>Item Price</th>
          <th>Quantity</th>
          <th>Sub-Total</th>
        </tr>
      </thead>
      <tbody>
        <%= render @order %>
      </tbody>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
